/* tab */
#tx-module-tabs {
	clear: both;
	background-image: url(./images/bg/fade-tab-off.png);
	background-repeat: repeat-x;
	height: 2.45em;
	width: 100%;
	z-index: 21;
	min-width: 80em;	
}	

#tx-module-tabs > ol {
	margin: 0;
	padding: 0;
	list-style: none;
	/*float: left;*/
}

#tx-module-tabs > ol > li {
	float: left;
}


#tx-module-tabs > ol > li.tx-active {
	background-image: url(./images/bg/fade-tab-on.png);
	background-repeat: repeat-x;
}

#tx-module-tabs > ol > li a {
	color: #666666;
	display: block;
	padding: 0.65em 1.3em; 
	text-decoration: none;
}

#tx-module-tabs > ol > li a:visited, #tx-module-tabs > ol > li a:link  {
	
}

#tx-module-tabs > ol > li a:active, #tx-module-tabs > ol > li a:hover  {
	color: #666666;
}

#tx-module-tabs > ol > li.tx-active a:visited, #tx-module-tabs > ol > li.tx-active a:link  {
	color: #666666;
}

#tx-module-tabs > ol > li.tx-active a:active, #tx-module-tabs > ol > li.tx-active a:hover  {
	color: #666666;
}

#tx-contextual-buttons {
	position: absolute;
	right: 0.8em;
	top: 5.6em;
}

#tx-contextual-buttons ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tx-contextual-buttons ol li {
	float: left;
	padding: 0 0 0 0.4em;
}


#tx-module-options {
	clear: both;
	height: 2.4em;
	background-image: url(./images/bg/fade-tab-status.png);
	background-repeat: repeat-x;
	padding: 0.5em 0 0 1.6em;
	border-bottom: solid 1px #e4e4e4;
}


#tx-module-options ol {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	padding-right: 2em;	
}

#tx-module-options ol li {
	float: left;
	padding: 0 0.1em;
}

#tx-module-options ol li.tx-spacer {
	padding-right: 2em;
}
