#tx-filter {
	background-color: #FFFFFF;
	font-size: 1.1em;
	padding: 1em 0em;
	width: 200px;
}
/*
#tx-panel.close + #tx-filter  {
	top: 140px;
	left: 10px;
	right: 10px;
}
*/

#tx-filter h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-left: 1.5em;
	padding-bottom: 0.5em;
}

#tx-filter ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#tx-filter ul li {
	
	background-image: url(../img/bg/fade-red-white.png);
	background-repeat: repeat-x;
/*	background-color: #FF0000;*/
	margin: 0em 1em;
	padding: 0em 0.5em;
	color: #ffffff;
	height: 18px;
	border-bottom: solid 1px #ffffff;
	padding-top: 1px;

}
/*
#tx-filter ul li:first-child {
	background-image: none;
}
*/
#tx-filter a {
	float: right;
	color: #ffffff;
} 


