.tx-icon-small {
	text-indent: -9999px;
	height: 19px;
	width: 19px;
	display: block;
	float: left;
}


.tx-imageset {
	background: url(../img/icons/imageset.gif) center no-repeat;
}

.tx-multires {
	background: url(../img/icons/multires.gif) center no-repeat;
}

.tx-multiple {
	background: url(../img/icons/multiple.gif) center no-repeat;
}

.tx-movie {
	background: url(../img/icons/icon-movie.gif) center no-repeat;
}

.tx-audio {
	background: url(../img/icons/icon-audio.gif) center no-repeat;
}

.tx-image {
	background: url(../img/icons/icon-image.gif) center no-repeat;
}

.tx-question {
	background: url(../img/icons/icon-question.gif) center no-repeat;
}

