/* list */
.tx-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.tx-list.tx-show-panel {
	left: 28em;
}

.tx-list.tx-hide-panel {
	left: 5em;
}

.tx-list.tx-halfwidth-left {
	width: 49%;
}

.tx-list.tx-halfwidth-right {
	left: 51%;
	padding-left: 1.6em;
	border-left: solid 1px #e4e4e4;
}

.tx-list ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tx-list ol li {
	border-bottom: solid 1px #e4e4e4;
	float: left;
	margin: 1.2em;
}

.tx-list ol li input[type="checkbox"] {
	float: left;
}

.tx-list ol li div.tx-thumb {
	display: block;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.tx-list ol.tx-size1 li {
	width: 160px;
	height: 180px;
}

.tx-list ol.tx-size1 li div.tx-thumb {
	width: 160px;
	height: 160px;
}

.tx-list ol.tx-size1 li div.tx-thumb img.tx-width  {
	width: 150px;
	height: auto;
}

.tx-list ol.tx-size1 li div.tx-thumb img.tx-height  {
	height: 150px;
	width: auto;
}

.tx-list ol.tx-size2 li {
	width: 130px;
	height: 150px;
}

.tx-list ol.tx-size2 li div.tx-thumb {
	width: 130px;
	height: 130px;
}

.tx-list ol.tx-size2 li div.tx-thumb img.tx-width  {
	width: 120px;
	height: auto;
}

.tx-list ol.tx-size2 li div.tx-thumb img.tx-height  {
	height: 120px;
	width: auto;
}

.tx-list ol.tx-size3 li {
	width: 100px;
	height: 120px;
}

.tx-list ol.tx-size3 li div.tx-thumb {
	width: 100px;
	height: 100px;
}

.tx-list ol.tx-size3 li div.tx-thumb img.tx-width  {
	width: 90px;
	height: auto;
}

.tx-list ol.tx-size3 li div.tx-thumb img.tx-height  {
	height: 90px;
	width: auto;
}


.tx-list ol li span.tx-right {
	float: right;
}

.tx-list ol li span.tx-left {
	float: left;
}

.tx-list ol li div.tx-thumb a:hover img  {
	border: solid 3px #1c6d8b;
	text-decoration: none;
}