/* menu */
#tx-menu {
	top: 0.0em;
	left: 13em; 
	position: absolute;
	z-index: 10000;
}	

#tx-menu ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tx-menu ol li {
	float: left;
}

#tx-menu ol li.active {
}

#tx-menu ol li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 0.5em 1.6em 0.6em 0.4em;
}

#tx-menu ol li a:visited, #tx-menu li a:link  {
	text-decoration: none;
}

#tx-menu ol li a:active, #tx-menu ol li a:hover  {
	text-decoration: underline;
}

#tx-menu ol li.active a:visited, #tx-menu ol li.active a:link  {
	background-color: #ffffff;
	color: #333333;
	background-image: url(./images/bg/fade-th-off.png);
	background-repeat: repeat-x;
}

#tx-menu ol li.active a:active, #tx-menu ol li.active a:hover  {
	background-color: #ffffff;
	color: #333333;
	background-image: url(./images/bg/fade-th-off.png);
	background-repeat: repeat-x;
}

#tx-menu ol h4 {
	border-bottom: solid 1px #dddddd;
	margin: 0;
	padding:0;
	font-weight: normal;
	color: #000000;	
	padding: 1.4em 0 0.4em 0.4em;
	clear: both;
}

#tx-menu ol div {
	background-color: #ffffff;
	border-right: solid 3px #cccccc;
	border-bottom: solid 3px #cccccc;
	opacity: 0.9;
	display: none;
	position: absolute;	
	padding: 0.0em 0.4em 0.8em 0.4em;
}

#tx-menu ol li li {
	border-bottom: 1px solid #dddddd;
	padding: 0px;
	min: 15em;
}

#tx-menu ol li .tx-desc li {
	border-bottom: 1px solid #dddddd;
	padding: 0px;
	min-width: 35em;
}

#tx-menu ol li li span {
	display: block;
	width: 20em;
	float: left;
	color: #555555;
	padding: 0.3em 0 0.3em 0em;
}

#tx-menu ol li li a {
	color: #333333;
	display: block;
	padding: 0.3em 0 0.3em 0.5em;
	width: 13em;
	font-weight: bold;
	float: left;
	
}

#tx-menu ol li.active li.active {
	background-color: #eef8fa;
}

#tx-menu ol li.active li a:visited, #tx-menu ol li.active li a:link  {
	text-decoration: none;
	background-image: none;
	background-color: transparent;
}

#tx-menu ol li.active li a:active, #tx-menu ol li.active li a:hover  {
	text-decoration: underline;
	background-image: none;
	background-color: transparent;
}

#tx-menu2 ol ol {
	display: none;
}