/* window */
.tx-window {
	background-color: #eceded;
	border: none; 
	overflow: hidden; 
	line-height: 1.7em;
}

.tx-window .tx-line {
	border-top: solid 1px #e4e4e4;
}

.tx-window dl {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.tx-window dl.tx-line {
	border-top: none;
	border-bottom: solid 1px #e4e4e4;
}

.tx-window dt {
	width: 10em;
	clear: both;
	float: left;
	padding: 0.4em 0;
	margin: 0;
	font-weight: normal;
}

.tx-window dl.tx-full dt {
	width: 13em;
}

.tx-window dd {
	width: 15em;
	float: left;
	padding: 0.4em 0;
	margin: 0;
}

.tx-window dl.tx-full dd {
	width: 30em;
}

.tx-window-actions {
	clear: both;
	background-image: url(./images/bg/fade-tab-off.png);
	background-repeat: repeat-x;
	border-bottom: solid 1px #ffffff;
	padding: 0.4em 0.8em;
	text-align: center;
}


.tx-window-content {
	background-image: url(./images/bg/fade-tab-status.png);
	background-repeat: repeat-x;
	padding: 0.4em 0.8em;
}

.tx-window-actions ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tx-window-actions ol li {
	float: left;
	padding: 0 0 0 0.4em;
}

.tx-window-actions ol li:first-child {
	float: left;
	padding: 0;
}

.tx-window-content h3  {
	margin: 0;
	padding: 0.5em 0 1em 0;
	color: #999999;
	font-size: 1.8em;
	font-weight: normal;	
}

.tx-window-info {
	float: left;
	margin-right: 1.6em;
}

.tx-window-status {
	clear: both;
	background-color: #c2b54f;
	padding: 0.4em 0.8em;
	text-align: left;
	color: #ffffff;

}

.tx-window-status-desc {
	color: #333333;
	margin-bottom: 0.3em;
	
}

.tx-window-status-desc strong {
	color: #333333;
	font-size: 1.3em;
}

ol.tx-columns-overlay {
	width: 31%;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-right: 3%;
	padding-top: 1em;
}

ol.tx-columns-overlay.tx-col2 {
	width: 48%;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-right: 3%;
	padding-top: 1em;
}

ol.tx-columns-overlay.tx-last {
	margin-right: 0;
}

ol.tx-columns-overlay li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	color: #666666;
}

ol.tx-columns-overlay li:first-child {
	border-top: solid 1px #e4e4e4;
}
	

ol.tx-columns-overlay ol {
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
}

ol.tx-columns-overlay li li {
	border-bottom: solid 1px #e4e4e4;
	border-top: none;
	font-weight: normal;
}

ol.tx-columns-overlay li li:first-child {
	border-bottom: solid 1px #e4e4e4;
	border-top: solid 1px #e4e4e4;		
	font-weight: normal;
}


