#tx-logo {
	width: 130px;
	height: 26px;
	background-image: url(./images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

#tx-logo a {
	display: block;
	width: 130px;
	height: 26px;
}

#tx-system {
	background-image: url(./images/bg/fade-header-system.png);
	background-repeat: repeat-x;
	background-color: #3E3E3E;
	clear: both;
	height: 2.2em;
	width: 100%;	
	z-index: 100;
	min-width: 80em;
	border-bottom: solid 1px #000000;
}

#tx-module {
	background-image: url(./images/bg/fade-header-module.png);
	background-repeat: repeat-x;
	background-color: #727272;
	border-bottom: solid 1px #616161;
	clear: both;
	height: 2.8em;
	width: 100%;	
	min-width: 80em;
	border-top: solid 1px #6C6C6C
}

#tx-module h1 {
	font-size: 1.8em;
	color: #ffffff;
	font-weight: normal;
	margin: 0;
	padding-top: 0.2em;
	padding-left: 0.5em;
	background-color: transparent;
	background-image: none;
	text-align: left;
	float: left;
}

#tx-login {
	width: 16em;
	color: #ffffff;
	float: right;
	padding: 0.2em 0.8em 0 0;
	text-align: right;
}

#tx-login a {
	color: #ffffff;
	margin-left: 0.8em;
	margin-right: 0.8em;
}

#tx-login span {
	line-height: 1.8em;
}

#tx-globalsearch {
	float: right;
	width: 16em;
	padding: 0.2em 0.8em 0 0;
	text-align:right;
}

#tx-globalsearch input {
	display: inline;
	float: none;
	width: 10em;
}

#tx-globalsearch input[type="submit"]  {
	display: inline;
	float: none;
	width: 21px;
	height: 20px
}

#tx-header #tx-globalsearch .tx-icon-search {
	background-color: #FFFFFF;
	background: url("./images/icons/btn-search.png") no-repeat scroll center center transparent;
    background-repeat: repeat-x;
    border-color: #A7A7A7 #A7A7A7 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-size: 1em;
    min-height: 1.2em;
    outline: medium none;
    vertical-align: middle;
}

#tx-site {
	width: 16em;
	color: #ffffff;
	float: right;
	padding: 0.8em 0.8em 0 0;
	text-align: right;
}

#tx-site span {
	line-height: 1.8em;
}

#tx-site a {
	float: right;
	margin-left: 0.4em;
}

#tx-page-actions {
	text-align: center; 
	position: absolute; 
	top: 3em; 
	left: 0;
	width: 98%;
	min-width: 80em;
}

#tx-page-actions ol {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: left;
	left: 50%;
}

#tx-page-actions ol li {
	float: left;
	position: relative;
	padding: 0;
	right: 50%;
}

#tx-page-actions ol li {
	float: left;
	position: relative;
	padding: 0;
	right: 50%;
}

#tx-page-actions .tx-button {
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
	border-left-style: none;
}

#tx-page-actions ol li:first-child a.tx-button {
	border-left-style: solid;
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px; 
	-webkit-border-top-left-radius: 3px;	
}

#tx-page-actions ol li:last-child a.tx-button {
	-moz-border-radius-bottomright: 3px; 
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px; 
	-webkit-border-bottom-right-radius: 3px;	
}