.tx-button {
	padding: 3px 10px;
	text-align: center;
	min-width: 70px;
	display: block;
	border: solid 1px #888888;
	border-bottom: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	line-height: 1.0em;
}

.tx-button-small {
	text-indent: -9999px;
	height: 19px;
	width: 19px;
	display: block;
}

.tx-button-xsmall {
	text-indent: -9999px;
	height: 10px;
	width: 10px;
	display: block;
}

a.tx-button:visited, a.tx-button:link  {
	color: #ffffff;
}

a.tx-button:active, a.tx-button:hover  {
	color: #ffffff;
	text-decoration: underline;
}

.tx-normal {
	background: url(../img/bg/fade-blue.png) center repeat-x;
}

.tx-alert {
	background: url(../img/bg/fade-red.png) center repeat-x;
}
.tx-add {
	background: url(../img/bg/fade-green.png) center repeat-x;
}

.tx-size1-on {
	background: url(../img/icons/btn-size1-on.png) center no-repeat;
}

.tx-size1-off {
	background: url(../img/icons/btn-size1-off.png) center no-repeat;
}

.tx-size2-on {
	background: url(../img/icons/btn-size2-on.png) center no-repeat;
}

.tx-size2-off {
	background: url(../img/icons/btn-size2-off.png) center no-repeat;
}

.tx-size3-on {
	background: url(../img/icons/btn-size3-on.png) center no-repeat;
}

.tx-size3-off {
	background: url(../img/icons/btn-size3-off.png) center no-repeat;
}

.tx-list-on {
	background: url(../img/icons/btn-list-on.png) center no-repeat;
}

.tx-list-off {
	background: url(../img/icons/btn-list-off.png) center no-repeat;
}

.tx-thumb-on {
	background: url(../img/icons/btn-thumb-on.png) center no-repeat;
}

.tx-thumb-off {
	background: url(../img/icons/btn-thumb-off.png) center no-repeat;
}

.tx-down-dark {
	background: url(../img/icons/arr-down-dark.png) center no-repeat;
}

.down-light {
	background: url(../img/icons/arr-down-light.png) center no-repeat;
}

.tx-up-dark {
	background: url(../img/icons/arr-up-dark.png) center no-repeat;
}

.tx-up-dark {
	background: url(../img/icons/arr-down-light.png) center no-repeat;
}

.tx-left-dark {
	background: url(../img/icons/arr-left-dark.png) center no-repeat;
}

.tx-left-light {
	background: url(../img/icons/arr-left-light.png) center no-repeat;
}

.tx-right-dark {
	background: url(../img/icons/arr-right-dark.png) center no-repeat;
}

.tx-right-light {
	background: url(../img/icons/arr-right-light.png) center no-repeat;
}

.tx-delete {
	background: url(../img/icons/btn-delete.gif) center no-repeat;
}

/* yui */
#tx-list table th.yui-dt-asc .yui-dt-liner {
	background: url(../img/icons/arr-down-dark.png) center no-repeat;
}

#tx-list table th.yui-dt-desc .yui-dt-liner  {
	background: url(../img/icons/arr-up-dark.png) center no-repeat;
}

#tx-list table th.yui-dt-desc .yui-dt-liner, #tx-list table th.yui-dt-asc .yui-dt-liner {
	background-position: right center;
}