form, fieldset {
	padding: 0;
	margin: 0;	
	border: none;
}


input, select, textarea, button {
	margin: 0px;
	padding: 1px 0px 1px 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input.radio {

}

input[type="submit"], input[type="file"] {
	width: auto !important;
	
}

input[type="radio"], input[type="checkbox"] {
	margin: 0.4em 0.3em 0 0;
	padding: 0;
	width: 1.4em !important;
	height: 1.4em !important;
	vertical-align: text-bottom;
}


input, select, textarea {
}

select {
}




