/* #navigation */
#tx-menu {
	top: 5px;
	left: 150px; 
	position: absolute;
	font-size: 1.2em;
}	

#tx-menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#tx-menu ul li {
	float: left;
}

#tx-menu ul li.active {
}

#tx-menu ul li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 0px 20px 7px 5px;
}

#tx-menu ul li a:visited, #tx-menu li a:link  {
	text-decoration: none;
}

#tx-menu ul li a:active, #tx-menu ul li a:hover  {
	text-decoration: underline;
}

#tx-menu ul li.active a:visited, #tx-menu ul li.active a:link  {
}

#tx-menu ul li.active a:active, #tx-menu ul li.active a:hover  {
}


#tx-menu ul ul {
	background-color: #eeeeee;
	border-right: solid 3px #cccccc;
	border-bottom: solid 3px #cccccc;
	opacity: 0.7;
	display: none;
	position: absolute;	
}

#tx-menu ul li li {
	float: none;
	border-top: 1px dotted #dddddd;
	padding: 0px;
	min-width: 150px;
}

#tx-menu ul li li a {
	color: #000000;
	display: block;
	padding: 5px 0px 5px 5px;
	min-width: 145px;
}

#tx-menu ul li.active li {
}

#tx-menu ul li li a:visited, #tx-menu ul li li a:link  {
	text-decoration: none;
}

#tx-menu ul li li a:active, #tx-menu ul li li a:hover  {
	text-decoration: underline;
}

#tx-menu ul li.active li a:visited, #tx-menu ul li.active li a:link  {

}

#tx-menu ul li.active li a:active, #tx-menu ul li.active li a:hover  {

}

#tx-menu2 ul ul {
	display: none;
}