
.tx-pager {
	padding-top: 2px;
	position: absolute;
	right: 10px;
	width: 250px;
	text-align: center;
}	

.tx-pager input {
	width: 30px;
}

.tx-pager-dropdown {
	width: 55px;
	margin-right: 20px;
}

.tx-pager ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}

.tx-pager ul li {
	display: inline;
	margin: 0px 3px;
	background-image: none;
	padding: 0px;
}

.tx-pager li.active {
	font-weight: bold;
}
.tx-pager li a {

}


.tx-pager li a:visited, .tx-pager li a:link  {
}

.tx-pager li a:active, .tx-pager li a:hover  {
}

.tx-pager li.active a:visited, .tx-pager li.active a:link  {
}

.tx-pager li.active a:active, .tx-pager li.active a:hover  {
}


.tx-pager .next {
	float: right;
	background: url(../img/icons/arr-right-dark.png) center no-repeat;
	text-indent: -9999px;
	height: 10px;
	width: 10px;
	display: block;	
	margin-top: 4px;
}

.tx-pager .prev {
	float: left;
	background: url(../img/icons/arr-left-dark.png) center no-repeat;
	text-indent: -9999px;
	height: 10px;
	width: 10px;
	display: block;	
	margin-top: 4px;
}

.tx-pager form, .tx-pager fieldset {
	display: inline;
}

.tx-pager input {
	text-align: center;
	
}

/* yui */

.yui-pg-page {
	padding: 4px;
}