/* #navigation */
#tx-tab {
	background-color: #c0c2c4;
	clear: both;
	background-image: url(../img/bg/fade-tab.png);
	background-repeat: repeat-x;
	position: fixed;
	height: 65px;
	top: 65px;
	width: 100%;
	z-index: 21;
	border-bottom: solid 1px #aaaaaa;	
}	

ul#tx-tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul#tx-tabs li {
	float: left;
}


ul#tx-tabs li.active {
	background-color: #eeeeee;
}

ul#tx-tabs li a {
	color: #ffffff;
	display: block;
	padding: 10px 15px; 
	text-decoration: none;
}

ul#tx-tabs li a:visited, ul#tx-tabs li a:link  {
	
}

ul#tx-tabs li a:active, ul#tx-tabs li a:hover  {
	background-color: #eeeeee;
	color: #000000;
}

ul#tx-tabs li.active a:visited, ul#tx-tabs li.active a:link  {
	background-color: #eeeeee;
	color: #000000;
}

ul#tx-tabs li.active a:active, ul#tx-tabs li.active a:hover  {
	background-color: #eeeeee;
	color: #000000;
}

#tx-tab-actions {
	position: absolute;
	right: 10px;
	padding-top: 5px;
}

#tx-tab-actions ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#tx-tab-actions ul li {
	float: left;
	padding: 0px 0px 0px 1px;
}

#tx-tab-status {
	clear: both;
	background-color: #dedede;
	height: 28px;
	/*
	background-image: url(../img/bg/fade-tab-status.png);
	background-repeat: repeat-x;
	background-position: bottom;*/
	padding: 5px 0px 0px 20px;
}

#tx-tab-status ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}

#tx-tab-status ul li {
	float: left;
	padding: 0 1px;
}

#tx-tab-status ul li.spacer {
	padding-right: 20px;
}
