@charset "UTF-8";

@font-face {
	font-family: Titillium Text;
	src: url('fonts/TitilliumText25L003.otf') format("opentype");
}

@font-face {
	font-family: Titillium Title;
	src: url('fonts/TitilliumTitle20.otf') format("opentype");

}

@font-face { 
	font-family: Titillium Bold;
	src: url('fonts/TitilliumText25L001.otf') format("opentype");

}


.tx-blockcode {
    background-color: #e9f4cd;
    display: block;
    margin: 1em;
    padding: 0.5em;
    white-space: pre;
    font-family: monospace;
    font-size: 1.2em;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

.toc {
	padding: 0em 2em;
	background-color: white;
}

.toc li {
	margin-bottom: 0;
}

body {
	font-family: Arial, Helvetica;
	margin-left: 0em;
	margin-top:0em;
	margin-right:0em;
	color:#666666;
	font-size: 0.85em;
}

table {
	border-collapse: collapse;
	border: none;
}

table th, table td {
	padding: 0.25em;
	border: 1px solid #9a9a9a;
	border-right: none;
	border-top: none;
}

th {
	text-align: left;
	font-family: Titillium Bold, Arial, Helvetica;
}

td {
	font-size: 0.85em;
}

.first-col {
	border-left: none;
}

.center {
	text-align: center;
}

h1 {
	font-family: Titillium Title, Arial, Helvetica;
	margin-top: 0em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #A5A5A5;
	color:#000000;
}

h2 {
	font-family: Titillium Title, Arial, Helvetica;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #A5A5A5;
	color:#000000;
}

h3 {
	font-family: Titillium Title, Arial, Helvetica;
	margin-bottom: 0.25em;
	color: #000000;
}

h4 {
	font-family: Titillium Title, Arial, Helvetica;
	margin-bottom: 0.05em;
}

h1 strong {
	font-family: Titillium Bold, Arial, Helvetica;
	color:#000000;
}

h2 strong {
	font-family: Titillium Bold, Arial, Helvetica;
	color:#000000;
}

h3 strong {
	font-family: Titillium Bold, Arial, Helvetica;
	color:#000000;
}

h4 strong {
	font-family: Titillium Bold, Arial, Helvetica;
	color:#000000;
}

span.note {
	background-image: url('images/icn-note.jpg');
	background-repeat: no-repeat;
	background-position: 0 0.5em;
	padding-left: 40px;
	display: block;
	margin: 1em;
}

.green {
	color:#98bf0e;
}

a {
    color: #98bf0e;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ol li {
	list-style-type:decimal;
	color:#98bf0e;
	margin-bottom: 0.738em;
}

ul li {
	list-style-type:disc;
	color:#98bf0e;
	margin-bottom: 0.738em;
}

li div,span {
	color:#666666;
}

.bar {
	height: 38px;
	background-color:#98bf0e;
	background-image: url('images/bg-bar.png');
	background-repeat: repeat-x;
	width: 100%;
}

.logo {
	position: absolute;
	top: 0em;
	left: 4em;
}

.logo img{
	border: 0em;
}

.nav {
	margin-top:14em;
	margin-left:5em;
	width:192px;
}

.nav ul {
	margin-top:0em;
	padding-left:0em;
	font-size: 110%;
}

.nav > ul > li.top-nav-entry {
	list-style-type: none;
	margin-bottom: 2em;
    padding-bottom: 0.4em;
	/*border-bottom: 1px solid #666666;*/
}

.nav > ul > li .title {
	font-family: Titillium Text, Arial, Helvetica;
	font-size:1.4em;
	color: #98bf0e;
	padding-bottom: 0.6em;
	border-bottom: 2px solid #98bf0e;
}

.top-nav-entry ul > li {
	margin-top: 0.525em;
	margin-bottom: 0em;
	list-style-type: none;
}

.top-nav-entry ul > li a {
	font-size: 0.85em;
	color:#666666;
}

.top-nav-entry ul > li a.active {
	color: #98bf0e;
	text-decoration:underline;
}

.top-nav-entry ul > li a:hover {
	color: #98bf0e;
	text-decoration:underline;
}

.nav-entries {
	border-bottom: 1px solid #a5a5a5;
	padding-bottom: 0.8em;
}

.zz-control {
	float: right;
	margin-top:50px;
}

.zz-control .actions {
	margin-top:14em;
	color: #666666
}

.zz-control .actions a {
	color: #666666
}

.zz-content {
	margin-top:14em;
	margin-left:25em;
	/*width:70%;*/
	max-width:600px;
	line-height: 1.5em;
	
}

.zz-content img {
	max-width: 600px;
	/** border: 1px solid #666666; */
	margin: 0.5em;
	padding: 0.25em;
}

.zz-content ul {
	padding-left: 1.3em;
}

.zz-content .figure-desc {
	margin-left: 0.5em;
	font-size: 0.85em;
	font-style: italic;
}

.column {
	float:left;
	padding-bottom: 3.125em;
}

.zz-content .column {
/*	font-size: 0.85em;*/
}

.one-column {
	width:100%;
	min-width: 200px;
}

.first-column {
	width:48%;
	min-width: 200px;
	padding-right: 4%;
}

.second-column {
	min-width: 200px;
	width:48%;
}

.dark {
	background-color:#53534b;
	float:left;
	width:100%;
}

.footer {
	float:left;
	width:100%;
}

.footer .logos {
	margin-left: 22.25em;
	margin-bottom: 1.875em;
}

.footer img {
	float:none;
	border: none;
	padding-right: 2em;
}

.footer .copyright {
	color:#a4a49c;
	float: left;
	font-size:0.65em;
	text-align: center;
	width: 100%;
	margin: 32px 0px;
	line-height: 1.5em;
}

.footer .sitemap {
    background-image: url('images/bg-divider.gif'); 
    background-repeat: repeat-x;       
	width: 100%;
}

.footer .sitemap-title {
	font-family: Titillium Text, Arial, Helvetica;
	float:left;
	margin-left: 4em;
	padding-top: 1.875em;
	padding-bottom: 0.9em;
	text-transform: uppercase;
	color: #ffffff;
	width: 19em;
	border-bottom: 1px solid #706f6b;
}

.footer .sitemap-content {
	margin-left: 22.25em;
	padding-top: 1.875em;
	color: #a4a49c;
}

.footer .sitemap-column {
	float:left;	
	width: 12.6em;
}

/*.footer .title-line {
	border-bottom: 1px solid #a4a49c;
    height: 3em;
    margin-left: 3.125em;
    margin-top: 1.125em;
    position: absolute;
    width: 100%;
	max-width: 960px;
}*/

.footer .sitemap-column .title {
	font-family: Titillium Text, Arial, Helvetica;
	margin-bottom: 1.325em;
	border-bottom: 1px solid #706f6b;
	padding-bottom: 0.9em;
	text-transform: uppercase;
}

.footer .sitemap-column ul {
	margin-top:0em;
	padding-left:0em;
}

.footer .sitemap-column ul li {
	list-style-type:none;
	padding-left:0em;
	font-size: 0.75em;

}

.footer .sitemap-column a {
	color: #a4a49c;
}

.footer .sitemap-column a:hover {
	color: #98bf0e;
	text-decoration:underline;
}

.footer .divider {
    height: 0.375em; 
	background-color:#98bf0e;
	width:22.25em;
}

div .module-info {
	/*margin-left:22.25em;*/
	position: absolute;
	left: 22.25em;
}
div .module-info div ol {
	height: 2em;
}

div .module-info div ol li {
	list-style: none outside none;
	float: left;
	margin: 0 0.14em;
	padding: 0 0.14em;
	border: 1px solid #9a9a9a;
	border-top: none;
	border-bottom: none;
	vertical-align: top;
}

div .module-info div ol li a {
	color: #a4a49c;
}

/* Localized */