/* buttons */
#tx-list table th.yui-dt-asc .yui-dt-liner {
	background: url(./images/icons/arr-down.png) center no-repeat;
}

#tx-list table th.yui-dt-desc .yui-dt-liner  {
	background: url(./images/icons/arr-up.png) center no-repeat;
}

#tx-list table th.yui-dt-desc .yui-dt-liner, #tx-list table th.yui-dt-asc .yui-dt-liner {
	background-position: right center;
}


/* pager  */
.yui-pg-page {
	padding: 0.3em;
}

/*  window  */
.tx-window .hd { 
    overflow: none; 
    padding:  0.4em 0.8em; 
	color: #ffffff;
	font-size: 1.8em;
	background-image: url(./images/bg/fade-header2.png);
	background-repeat: repeat-x;
	border-top: solid 1px #6c6c6c;
	border-bottom: solid 1px #616161;
	clear: both;
	background-color: #9c9c9b;	
} 

.tx-window .bd { 
    overflow: auto; 
    padding:  0; 
	background-color: #fdfdfd;	
} 

.tx-window .ft { 
	height: 1.3em; 
	padding: 0; 
	background-color: #ffffff;		
} 

#tx-dialog .ft { 
	height: 4em; 
	background-color: #ffffff;		
} 

#tx-dialog .ft .button-group { 
	 padding: 0.8em; 
	 display: block;
	 float: right;
	 text-align: center;
} 

#tx-dialog .ft .button-group button { 
	color: #ffffff;
	float: left;
	margin-left: 0.4em; 
	padding: 0 0.8em;
	text-align: center;
	min-width: 5em;
	display: block;
	line-height: 1.2em;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	background: url(./images/icons/fade-generic.png) center repeat-x;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
}
 
#tx-dialog .ft .button-group button.default { 
	color: #999999;
	background: url(./images/icons/fade-generic2.png) center repeat-x;
	border-color: #afafaf #afafaf #a2a2a2 #afafaf;
} 


#tx-dialog .bd {
    padding:  0.8em 0.8em; 
}


.yui-overlay,
.yui-panel-container, .tx-window {
    visibility: hidden;
    position: relative;
    z-index: -5;
}

.mask {
    z-index: 1; 
    display:none;
    position:absolute;
    top: 0;
    left: 0;
	filter: alpha(opacity=50);
	opacity: 0.5;
    background-color:#cccccc;
}

.yui-panel-container .underlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.yui-panel-container.shadow .underlay {
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    background-color: #000000;
    opacity: 0.1;
}

.yui-panel .container-close {
    position:absolute;
    top: 0.8em;
    right: 0.8em;
    z-index: 6;
    margin: 0;	
	height: 20px;
	width: 21px;
	display: block;
	float: left;
	border: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;	
	background: url(./images/icons/btn-close.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;		
}

.tx-window .yui-resize-handle-br { 
	right:0; 
	bottom:0; 
	height: 16px; 
	width: 16px; 
	position:absolute;  
	background-color: red;
	background:url(./images/icons/btn-resize.png) no-repeat;
} 


/* list  */
.yui-dt-coltarget {
    width: 5px;
    background-color: red;
}


thead .yui-dt-sortable {
    cursor: pointer;
}

/* draggable columns */
thead .yui-dt-draggable {
    cursor: move;
}

#tx-list table th.on, #tx-list table th.yui-dt-asc, #tx-list table th.yui-dt-desc  {
	background: url(./images/bg/fade-th-on.png) top  repeat-x;
	color: #555555;
}

.yui-dt-resizer {
	width: 6px;
}