#associateSelection {
	width: 80%
}
#createNewWebId {
	display: none
}
#setExistingWebId {
	display: none
}
/* we need to override a table td:first-child in /style/table.css */
td.propvalue:first-child { 
	text-align: right;
}

td.formlabel:first-child { 
	width: 10em;
	text-align: right;
}

td.multiline:first-child {
    vertical-align: text-top;
}

img.mugshot {
    width: 80px;
}

td.personInABox {
    width: 100px;
}