/* icon */
.tx-icon {
	text-indent: -9999px;
	text-align: left;
	height: 20px;
	width: 21px;
	display: inline-block;
	float: left;
	border: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;	
}

a.tx-icon {
	text-decoration: none;
}

.tx-icon-down {
	background: url(./images/icons/arr-down.png) center no-repeat;
}

.tx-icon-down-inverse {
	background: url(./images/icons/arr-down-inverse.png) center no-repeat;
}

.tx-icon-up {
	background: url(./images/icons/arr-up.png) center no-repeat;
}

.tx-icon-up-inverse {
	background: url(./images/icons/arr-up-inverse.png) center no-repeat;
}

.tx-icon-left {
	background: url(./images/icons/arr-left.png) center no-repeat;
}

.tx-icon-left-inverse {
	background: url(./images/icons/arr-left-inverse.png) center no-repeat;
}

.tx-icon-right {
	background: url(./images/icons/arr-right.png) center no-repeat;
}

.tx-icon-right-inverse {
	background: url(./images/icons/arr-right-inverse.png) center no-repeat;
}



/* remove color */
.tx-icon-delete {
	background: url(./images/icons/btn-remove.png) center no-repeat;
	border: solid 1px;
	border-color: #c6491d #a51507 #a51507 #ce4b21;
	height: 18px;
	width: 19px;	
}

/* create color */
.tx-icon-plus {
	background: url(./images/icons/btn-plus.png) center no-repeat;
	border: solid 1px;
	border-color: #5f8d18 #68991d #68991d #68991d;
	height: 18px;
	width: 19px;	
}

.tx-icon-ok {
	background: url(./images/icons/btn-ok.png) center no-repeat;
	border: solid 1px;
	border-color: #5f8d18 #68991d #68991d #68991d;
	height: 18px;
	width: 19px;	
}

/* modify color */
.tx-icon-modify {
	background: url(./images/icons/btn-modify.png) center no-repeat;
	border: solid 1px;
	border-color: #2f8695 #368e9d #368e9d #487d9d;
	height: 18px;
	width: 19px;
}

/* @deprecated use tx-icon-modify */
.tx-icon-edit {
	background: url(./images/icons/btn-modify.png) center no-repeat;
	border: solid 1px;
	border-color: #2f8695 #368e9d #368e9d #487d9d;
	height: 18px;
	width: 19px;	
}

/* generic color */
.tx-icon-search {
	background: url(./images/icons/btn-search.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;
}

.tx-icon-sitechooser {
	background: url(./images/icons/btn-sitechooser.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}

.tx-icon-user {
	background: url(./images/icons/btn-user.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}

.tx-icon-close {
	background: url(./images/icons/btn-close.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}

.tx-icon-forward {
	background: url(./images/icons/btn-forward.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}

.tx-icon-back {
	background: url(./images/icons/btn-back.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}

.tx-icon-zoomin {
	background: url(./images/icons/btn-zoomin.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}

.tx-icon-zoomout {
	background: url(./images/icons/btn-zoomout.png) center no-repeat;
	border: solid 1px;
	border-color: #454545 #4e4e4e #4e4e4e #3a3a3a;
	height: 18px;
	width: 19px;	
}


/* toggle color */

.tx-toggle-list-on {
	background: url(./images/icons/btn-toggle-list-on.png) center no-repeat;
	border: solid 1px;
	border-color: #7d7d7d #898989 #6d6d6d #898989;
	height: 18px;
	width: 19px;	
}

.tx-toggle-list-off {
	background: url(./images/icons/btn-toggle-list-off.png) center no-repeat;
	border: solid 1px;
	border-color: #b9b9b9 #b9b9b9 #b9b9b9 #b9b9b9;
	height: 18px;
	width: 19px;	
}

.tx-toggle-thumbnail-on {
	background: url(./images/icons/btn-toggle-thumbnail-on.png) center no-repeat;
	border: solid 1px;
	border-color: #7d7d7d #898989 #6d6d6d #898989;
	height: 18px;
	width: 19px;	
}

.tx-toggle-thumbnail-off {
	background: url(./images/icons/btn-toggle-thumbnail-off.png) center no-repeat;
	border: solid 1px;
	border-color: #b9b9b9 #b9b9b9 #b9b9b9 #b9b9b9;
	height: 18px;
	width: 19px;	
}

.tx-toggle-tree-on {
	background: url(./images/icons/btn-toggle-tree-on.png) center no-repeat;
	border: solid 1px;
	border-color: #7d7d7d #898989 #6d6d6d #898989;
	height: 18px;
	width: 19px;	
}

.tx-toggle-tree-off {
	background: url(./images/icons/btn-toggle-tree-off.png) center no-repeat;
	border: solid 1px;
	border-color: #b9b9b9 #b9b9b9 #b9b9b9 #b9b9b9;
	height: 18px;
	width: 19px;	
}


.tx-toggle-size1-on {
	background: url(./images/icons/btn-toggle-size1-on.png) center no-repeat;
	border: solid 1px;
	border-color: #7d7d7d #898989 #6d6d6d #898989;
	height: 18px;
	width: 19px;	
}

.tx-toggle-size1-off {
	background: url(./images/icons/btn-toggle-size1-off.png) center no-repeat;
	border: solid 1px;
	border-color: #b9b9b9 #b9b9b9 #b9b9b9 #b9b9b9;
	height: 18px;
	width: 19px;	
}

.tx-toggle-size2-on {
	background: url(./images/icons/btn-toggle-size2-on.png) center no-repeat;
	border: solid 1px;
	border-color: #7d7d7d #898989 #6d6d6d #898989;
	height: 18px;
	width: 19px;	
}

.tx-toggle-size2-off {
	background: url(./images/icons/btn-toggle-size2-off.png) center no-repeat;
	border: solid 1px;
	border-color: #b9b9b9 #b9b9b9 #b9b9b9 #b9b9b9;
	height: 18px;
	width: 19px;	
}

.tx-toggle-size3-on {
	background: url(./images/icons/btn-toggle-size3-on.png) center no-repeat;
	border: solid 1px;
	border-color: #7d7d7d #898989 #6d6d6d #898989;
	height: 18px;
	width: 19px;	
}

.tx-toggle-size3-off {
	background: url(./images/icons/btn-toggle-size3-off.png) center no-repeat;
	border: solid 1px;
	border-color: #b9b9b9 #b9b9b9 #b9b9b9 #b9b9b9;
	height: 18px;
	width: 19px;	
}


/* div */

.tx-icon-alert {
	background: url(./images/icons/btn-alert.png) center no-repeat;
	border: none;
	height: 20px;
	width: 21px;	
}

.tx-icon-spacer {
	background-image: none;
	width: 20px;
	height: 21px;
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
	border: none;
}

.tx-icon-drag {
	background-image: url(./images/icons/btn-drag.png);
	background-repeat: no-repeat;
	background-position: left;	
	width: 20px;
	height: 21px;
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px;
	border: none;
}

.tx-icon-calendar {
	background: url(./images/icons/btn-alert.png) center no-repeat;
	border: none;
	height: 20px;
	width: 21px;	
}


.tx-icon-template {
	background: url(./images/icons/btn-alert.png) center no-repeat;
	border: none;
	height: 20px;
	width: 21px;	
}

