body {
	background-color: #eeeeee;
	background-image: url(./images/bg/fade-login.png);
	background-repeat: repeat-x;
	background-position: center top;		
}


#tx-login-mask ol {
	margin: 0;
	padding: 0;
	list-style: none;
}		

#tx-login-mask ol li {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 2em;
}	

#tx-login-mask ol li:last-child {
	padding-top: 0.8em;
}		


#tx-login-mask label {
	width: 8em;
	float: left;
	color: #666666;
}

#tx-login-mask label.tx-checkbox {
	width: 9em;
	float: left;
}

#tx-login-mask  input[type="checkbox"] {
	margin-left: 8em;
	float: left;
}

#tx-login-mask input[type="text"], #tx-login-mask input[type="password"] {
	width: 20em;
}

#tx-login-mask .tx-button {
	width: 5em;
	float: right;
}

#tx-login-mask {
	top: 30%;
	position: absolute;
	width: 99%;
}

#tx-login-mask > div {
	margin: 0 auto;
	width: 29.7em;
}	

#tx-login-mask > div > div {
	text-align: center; 
	margin: 1em;
}	

#tx-login-mask #tx-logo {
	height: 2.5em;
	width: 166px;
	background-image: url(./images/logo-big.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 1em auto;
}	

#tx-login-mask fieldset {
	padding: 0.5em;
	margin: 0.5em 0;
}

#tx-login-mask .tx-info .tx-icon {
	vertical-align: middle;
	float: none;
	display: inline-block;
}

.tx-error {
	color: #cc3333;
	font-weight: bold;
	margin: 0.3em;
}	

.tx-info {
	color: #c59e00;
	font-weight: bold;
	margin: 0.3em;
}	

.tx-line {
	border-bottom: 1px solid #E4E4E4;
	border-top: none;
}