.tx-edit {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.tx-edit.tx-nowidth {
	min-width: 0;
}

.tx-edit.tx-show-panel {
	left: 28em;
}

.tx-edit.tx-hide-panel {
	left: 5em;
}

.tx-edit.tx-halfwidth-right {
	left: 51%;
	padding-left: 1.6em;
	border-left: solid 1px #e4e4e4;
}

.tx-edit .tx-edit-header, .tx-edit h3  {
	margin: 0;
	padding: 0;
	padding-bottom: 0.5em;
	color: #999999;
	font-size: 1.8em;
}

/* +yui */
ol.tx-edit-tabs, ul.yui-nav  {
	clear: both;
	background-image: url(./images/bg/fade-tab-edit.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 5em;
	margin: 0;
	padding: 0;
	list-style: none;
}

ol.tx-edit-tabs li, .tx-edit ul.yui-nav li  {
	float: left;
	margin: 0;
}

ol.tx-edit-tabs li.tx-active, ul.yui-nav li.selected {
	background-image: url(./images/bg/fade-tab-on.png);
	background-repeat: repeat-x;
}

ol.tx-edit-tabs li a, ul.yui-nav li a {
	color: #666666;
	display: block;
	padding: 0.8em 1.2em;
	text-decoration: none;
}

ol.tx-edit-tabs li a:visited, ol.tx-edit-tabs li a:link,
ul.yui-nav li a:visited, ul.yui-nav li a:link {

}

ol.tx-edit-tabs li a:active, ol.tx-edit-tabs li a:hover,
ul.yui-nav li a:active, ul.yui-nav li a:hover  {
}

ol.tx-edit-tabs li.active a:visited, ol.tx-edit-tabs li.active a:link,
ul.yui-nav li.selected a:visited, ul.yui-nav li.selected a:link  {
}

ol.tx-edit-tabs li.active a:active, ol.tx-edit-tabs li.active a:hover,
ul.yui-nav li.selected a:active, ul.yui-nav li.selected a:hover  {
}


.tx-edit-info {
	float: left;
	margin-right: 1.6em;
}

.tx-edit-content {
	padding-right: 1.2em;
}

.tx-edit-info div {
	padding-bottom: 1.6em;

}

.tx-edit-info div span {
}


.tx-edit form {
}

.tx-edit.tx-panel-right form {
	margin-right: 19em;
	min-width: 33em;
}

.tx-edit input, .tx-edit textarea {
	width: 22em;
}

.tx-edit .tx-toplabel input, .tx-edit .tx-toplabel textarea, .tx-edit .tx-toplabel select {
	width: 31em;
}

.tx-edit select {
	width: 22.5em;
}


.tx-edit fieldset ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tx-edit fieldset ol li {
	clear: both;
	padding: 0 0 0.4em 0;
	margin: 0;
	margin-top: 0.4em;
	line-height: 1.8em;
}

.tx-edit .tx-line {
	border-top: none;
	border-bottom: solid 1px #e4e4e4;
}


.tx-edit fieldset li label {
	width: 11em;
	float: left;
}

.tx-edit fieldset li.tx-toplabel label {
	width: 30em;
	float: none;
}

.tx-edit fieldset li label + p {
	margin: 0;
	margin-left: 11em;
}

.tx-edit fieldset li label + div {
	margin: 0;
	margin-left: 11em;
}

.tx-edit fieldset li.tx-toplabel label + div {
	margin: 0;
	margin-left: 0em;
}


.tx-edit fieldset li a {
	text-decoration: none;
}

.tx-edit fieldset li span.tx-item {
	display: block;
	line-height: 1.8em;
	height: 2em;
	clear: right;
	margin-bottom: 0.2em;
}

.tx-edit fieldset li span.tx-item a {
	float: right;
}


.tx-edit .tx-toplabel .tx-panel-middle input, .tx-edit .tx-toplabel .tx-panel-middle textarea {
	width: 98%;
}
